# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os



# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [19]:
csvpath = os.path.join("cities.csv")


#file = 'WeatherPy\cities.csv'
global_weather_df = pd.read_csv(csvpath)
global_weather_df.columns=["latitude", "longitude", "max_temp", "humidity", "cloudiness", "wind_speed", "country", "city", "date"]
global_weather_df.head()

,latitude,longitude,max_temp,humidity,cloudiness,wind_speed,country,city,date
0,-9.80,-139.03,299.01,75,9,8.75,PF,atuona,1603647980
1,18.74,7.39,303.39,12,0,7.38,NE,arlit,1603648111
2,46.38,-75.97,279.17,56,83,0.52,CA,maniwaki,1603648112
3,70.63,147.92,259.01,93,2,4.85,RU,chokurdakh,1603648113
4,-20.41,57.70,297.15,73,75,6.70,MU,mahebourg,1603648115

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

In [22]:
#make lists of the lat and lng columns, then pair them inside another list to use for locations
latitudes = global_weather_df["latitude"].tolist()
longitudes = global_weather_df["longitude"].tolist()
humidity_list = global_weather_df["humidity"].tolist()

lat_lng_list = list(zip(latitudes,longitudes))

In [101]:
print(len(lat_lng_list))

542

In [102]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout=figure_layout)



# Assign the marker layer to a variable
# markers = gmaps.marker_layer(lat_lng_list)
# # Add the layer to the map
# fig.add_layer(markers)
#fig


#fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(lat_lng_list, weights=humidity_list, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:

humid_global_weather_df=global_weather_df[(global_weather_df['humidity']>40) & (global_weather_df['humidity']<90)]
wind_global_weather_df=humid_global_weather_df[(humid_global_weather_df['wind_speed']<20)]
ideal_global_weather_df=wind_global_weather_df[(wind_global_weather_df['cloudiness']<10)]

ideal_global_weather_df

,latitude,longitude,max_temp,humidity,cloudiness,wind_speed,country,city,date
0,-9.80,-139.03,299.01,75,9,8.75,PF,atuona,1603647980
27,-14.90,50.28,295.03,82,1,3.45,MG,antalaha,1603648143
32,-33.65,115.33,287.04,59,0,1.08,AU,busselton,1603648150
61,53.75,-2.48,281.48,85,2,3.13,GB,blackburn,1603648186
71,-37.62,-73.65,285.71,59,0,4.48,CL,lebu,1603648198
...,...,...,...,...,...,...,...,...,...
487,-35.33,-72.42,288.61,53,0,7.33,CL,constitucion,1603648744
502,30.05,121.15,289.15,82,0,1.00,CN,yuyao,1603648761
506,-15.77,128.73,300.15,88,7,1.77,AU,kununurra,1603648769
526,13.49,-16.09,306.15,70,0,4.10,GM,kerewan,1603648798
530,29.96,122.30,290.77,68,3,2.59,CN,shenjiamen,1603648804

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# latitudes_hotels = ideal_global_weather_df["latitude"].tolist()
# longitudes_hotels = ideal_global_weather_df["longitude"].tolist()
# humidity_list = global_weather_df["humidity"].tolist()

# lat_lng_list = list(zip(latitudes,longitudes))

In [71]:
hotel_df=ideal_global_weather_df[["latitude", "longitude", "city", "country"]].copy()



hotel_df["hotel_name"]=""
hotel_df=hotel_df.reset_index()
hotel_df

    index  latitude  longitude          city country hotel_name
0       0     -9.80    -139.03        atuona      PF
1      27    -14.90      50.28      antalaha      MG
2      32    -33.65     115.33     busselton      AU
3      61     53.75      -2.48     blackburn      GB
4      71    -37.62     -73.65          lebu      CL
..    ...       ...        ...           ...     ...        ...
70    487    -35.33     -72.42  constitucion      CL
71    502     30.05     121.15         yuyao      CN
72    506    -15.77     128.73     kununurra      AU
73    526     13.49     -16.09       kerewan      GM
74    530     29.96     122.30    shenjiamen      CN

[75 rows x 6 columns]

In [74]:
#hotel_df["hotel_name"]=name_address["results"][0]["name"]
#hotel_df.iterrows(hotel_df)

index=0
for index, row in hotel_df.iterrows():
    print( row['latitude'],  row['longitude'])

#hotel_df.loc[index, "hotel_name"] = 'hotel name from response'

hotel_df

-9.8 -139.03
-14.9 50.28
-33.65 115.33
53.75 -2.48
-37.62 -73.65
37.1 -113.58
42.8 93.45
14.92 -23.51
21.43 39.83
40.43 71.72
-21.36 55.77
-42.78 147.06
-28.47 -65.79
51.18 -114.47
-33.87 121.9
-31.95 141.43
-28.77 114.6
47.87 88.12
-38.27 141.97
30.69 78.49
-13.7 -76.22
21.12 70.12
48.01 91.64
25.21 64.64
69.31 16.12
40.6 -77.57
41.37 -73.41
-22.96 14.51
69.38 178.42
11.47 49.87
20.89 -156.47
-24.79 -50.01
54.67 20.13
-29.95 -71.34
27.93 84.42
32.5 62.5
47.47 84.87
32.3 -9.24
26.0 -100.53
27.85 68.7
52.47 96.11
41.04 28.98
-21.34 55.48
13.93 41.69
-33.02 27.91
17.02 54.09
44.02 87.32
-11.1 -77.61
-20.1 146.27
63.06 9.21
-23.86 35.38
66.0 111.5
50.6 97.52
29.11 21.29
-41.07 145.92
18.22 42.51
67.8 130.41
42.63 131.09
-37.18 139.75
29.02 66.59
66.42 112.4
18.39 42.45
29.97 32.53
36.37 6.61
50.52 -116.04
-30.16 -53.57
47.31 -122.0
-26.4 -52.47
-22.28 166.46
43.61 122.27
-35.33 -72.42
30.05 121.15
-15.77 128.73
13.49 -16.09
29.96 122.3

    index  latitude  longitude          city country hotel_name
0       0     -9.80    -139.03        atuona      PF
1      27    -14.90      50.28      antalaha      MG
2      32    -33.65     115.33     busselton      AU
3      61     53.75      -2.48     blackburn      GB
4      71    -37.62     -73.65          lebu      CL
..    ...       ...        ...           ...     ...        ...
70    487    -35.33     -72.42  constitucion      CL
71    502     30.05     121.15         yuyao      CN
72    506    -15.77     128.73     kununurra      AU
73    526     13.49     -16.09       kerewan      GM
74    530     29.96     122.30    shenjiamen      CN

[75 rows x 6 columns]

In [62]:
# # Set parameters to search for a hotel
# params = {
#     "radius": 5000,
#     "types": "lodging",
#     "key": g_key,
#     "location":"-9.8 -139.03"
# }
    
    
# # Use the search term: "Hotel" and our lat/lng
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# # make request and print url
# name_address = requests.get(base_url, params=params).json()
# #name_address

# name_address["results"][0]["name"]
# print(name_address["results"][0]["name"])

Villa Enata

In [89]:
#hotel_df["hotel_name"]=name_address["results"][0]["name"]
#hotel_df.iterrows(hotel_df)


for index, row in hotel_df.iterrows():
    ltlng="{} {}".format(row['latitude'],  row['longitude'])
    params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location":ltlng
    }

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# make request and print url
    name_address = requests.get(base_url, params=params).json()
#name_address

    #
    try:
        print(name_address["results"][0]["name"])
        hotel_df.loc[index, "hotel_name"] = name_address["results"][0]["name"]
    except:
        hotel_df.loc[index, "hotel_name"] ="NaN"
        print (f"No hotel within 5000m")


hotel_df

Villa Enata
Hotel Vitasoa
Observatory Guest House
Premier Inn Blackburn South (M65, J4) hotel
Hostal Las Lilas
Best Western Plus Abbey Inn
Laoyutang Resort
LT Aparthotel
Hotel Fairmont Makkah Clock Royal Tower
Ikathouse
Chambres d'hÃ´te "La TrinitÃ©"
The Shingles Riverside Cottages
Amerian Catamarca Park Hotel
Days Inn & Suites by Wyndham Cochrane
Hospitality Esperance
Daydream Motel & Cottages
Broadwater Mariner Resort
Jinqiao Hotel
Codrington Gardens Bed And Breakfast
Bal uma sankar hotel and restaurant
Hostal San Isidro Oficial
Hotel The Royal Honours
Buyant Hotel
No hotel within 5000m
Hotell Marena
Quality Inn & Suites
Courtyard by Marriott Danbury
Oyster Box Guesthouse
No hotel within 5000m
No hotel within 5000m
Maui Seaside Hotel
CHACARA BAILLY
Gostinitsa-Kafe, Alena
Hotel San Juan
Bandipur Guest House
No hotel within 5000m
Gostinitsa Aray
HÃ´tel Abda
Mina ctl
AKBARIA Imam Bargah
No hotel within 5000m
The Marmara Taksim
Lindsey HÃ´tel
No hotel within 5000m
Tu Casa
HAMDAN PLAZA HOTEL
Lvye Holiday Resort
Hotel Restaurant TurÃ­stico Casablanca
Cattleman's Rest Motor Inn
Saga Trollheimen Hotel
Oceano
No hotel within 5000m
No hotel within 5000m
No hotel within 5000m
Beachfront Voyager Motor Inn
Abha Hotel
No hotel within 5000m
Okean, Baza Otdykha
Harbour View Motel
Balochistan Hotel
Gostinitsa Vilyuy
Ù…Ù‚Ø¨Ø±Ø© Ø§Ù„ Ù…Ø¬Ù…Ù„
Green House
Grand Hotel Cirta
Copper Point Resort
Trevo Parque Hotel
Lake Sawyer RV Resort
No hotel within 5000m
HÃ´tel Le Lagon
Meirujia Hotel
Hotel Boutique Las Azucenas
Grand Pacific Hotel Ningbo
Hotel Kununurra
No hotel within 5000m
Jinjiang Inn Zhoushan Putuo Shenjiamen

,index,latitude,longitude,city,country,hotel_name
0,0,-9.80,-139.03,atuona,PF,Villa Enata
1,27,-14.90,50.28,antalaha,MG,Hotel Vitasoa
2,32,-33.65,115.33,busselton,AU,Observatory Guest House
3,61,53.75,-2.48,blackburn,GB,"Premier Inn Blackburn South (M65, J4) hotel"
4,71,-37.62,-73.65,lebu,CL,Hostal Las Lilas
...,...,...,...,...,...,...
70,487,-35.33,-72.42,constitucion,CL,Hotel Boutique Las Azucenas
71,502,30.05,121.15,yuyao,CN,Grand Pacific Hotel Ningbo
72,506,-15.77,128.73,kununurra,AU,Hotel Kununurra
73,526,13.49,-16.09,kerewan,GM,NaN
74,530,29.96,122.30,shenjiamen,CN,Jinjiang Inn Zhoushan Putuo Shenjiamen

In [91]:
#Trying to make the NaN rows drop, but this isn't working. 


# hotel_df_clean=hotel_df.dropna['hotel_name']
# hotel_df_clean=pd.DataFrame(hotel_df)
# hotel_df_clean

In [97]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [106]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig



# Display figure


#Is this the same heat map as the previous one? why is that? the  locations list that I think I'm using here is not the same
#length as the lat_lng_list used in the above map. Ugh.

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [99]:


print(len(locations))

75